{% extends 'base.html' %}
{% block title %}{{category}}{% endblock %}

{% block content1 %}
    <img src="{{ image_location }}" alt="image_name_placeholder" height="100" width="100">
{% endblock %}

{% block content2 %}
    <div>
    {{ card_text }}
    </div>

	<form action="/start" method="GET">

        <input type="hidden" name="days" value="{{days}}">

        <input type="hidden" name="current" value="{{current}}">

        {% for choice in choices %}
            <button type="submit" name="choice" value={{choice['value']}}>{{choice['text']}}</button>
        {% endfor %}

	</form>
{% endblock %}
